In [79]:
#Dependencies
import pandas as pd
import requests
import json
from config import api_key

In [80]:
#Build the url
urlmktcap=f"https://min-api.cryptocompare.com/data/top/mktcapfull?limit=10&tsym=USD&api_key={api_key}"
urlvolume="https://min-api.cryptocompare.com/data/top/totalvolfull?limit=10&tsym=USD&api_key={api_key}"

In [81]:
#Get the information with json format, and isolates data items for easy reading
responsemktcap=requests.get(urlmktcap).json()
datamktcap=response["Data"]
#data

In [82]:
#Obtain the names of the top 10 main currencies considering Market Capitalization. Create a list for the name, price and mktcap for each cryptocurrencies in the top 10. 
indexes=range(0,10)
name_mktcap_list=[]
price_mktcap_list=[]
mktcap_list=[]
for index in indexes:
    name=data[index]["CoinInfo"]["FullName"]
    price=data[index]["RAW"]["USD"]["PRICE"]
    mktcap=data[index]["RAW"]["USD"]['MKTCAP']
    name_mktcap_list.append(name)
    price_mktcap_list.append(price)
    mktcap_list.append(mktcap)

In [83]:
#Create a DataFrame with the information
mktcap_df=pd.DataFrame({
    "Cryptocurrency":name_mktcap_list,
    "Price":price_mktcap_list,
    "Market Capitalization":mktcap_list
})
mktcap_df

  Cryptocurrency       Price  Market Capitalization
0        Bitcoin  23711.5400           4.570753e+11
1       Ethereum   1636.4400           2.002575e+11
2         Tether      1.0000           6.762021e+10
3   Binance Coin    317.3900           5.182248e+10
4       USD Coin      0.9999           4.308173e+10
5            XRP      0.4129           4.128552e+10
6          Aptos     17.8900           1.819905e+10
7           BUSD      1.0000           1.570438e+10
8         Solana     26.2100           1.414515e+10
9        Cardano      0.3946           1.338631e+10

In [94]:
#Format the data
responsevolume=requests.get(urlvolume).json()
datavolume=responsevolume["Data"]
#datavolume

In [95]:
#Obtain the names of the top 10 main currencies considering 24-hour trading volume. Create a list for the name, price and mktcap for each cryptocurrencies in the top 10. 
indexes=range(0,10)
name_volume_list=[]
price_volume_list=[]
volume_list=[]
for index in indexes:
    name_v=data[index]["CoinInfo"]["FullName"]
    price_v=data[index]["RAW"]["USD"]["PRICE"]
    volume=data[index]["RAW"]["USD"]['VOLUME24HOUR']
    name_volume_list.append(name_v)
    price_volume_list.append(price_v)
    volume_list.append(volume)

In [96]:
#Create a DataFrame with the information
volume_df=pd.DataFrame({
    "Cryptocurrency":name_mktcap_list,
    "Price":price_mktcap_list,
    "Volume":volume_list
})
volume_df

  Cryptocurrency       Price        Volume
0        Bitcoin  23711.5400  5.411893e+04
1       Ethereum   1636.4400  4.734184e+05
2         Tether      1.0000  1.135505e+08
3   Binance Coin    317.3900  4.261116e+04
4       USD Coin      0.9999  6.505940e+06
5            XRP      0.4129  2.254680e+07
6          Aptos     17.8900  6.223222e+05
7           BUSD      1.0000  9.659238e+05
8         Solana     26.2100  3.767672e+06
9        Cardano      0.3946  7.452065e+07